# Environment
.env
*.env
!.env-demo

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Django
db.sqlite3
staticfiles/
media/*
!media/.gitkeep

# Editors / OS
.vscode/
.idea/
.DS_Store

# Logs
*.log
